.header {
    background: darkorange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    width: 100%;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}

.menuIcon {
    font-size: 2rem;
}

.nav {
    display: none;
}

.items {
    display: flex;
    list-style: none;
    margin: 0;
}

.items li {
    margin: 0;
    margin-left: 20px;
    font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
    .menuIcon {
        display: none;
    }

    .nav {
        display: inline-block;
    }
}